{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Flow Service Test",
    "description" : "Flow Service Testing",
    "version" : "1.1"
  },
  "servers" : [ {
    "url" : "https://idm-sub.968d96a4.public.multi-containers.ibm.com"
  } ],
  "paths" : {
    "/suppressEmail" : {
      "post" : {
        "description" : "Auto generated using Swagger Inspector",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/suppressEmail_body"
              },
              "examples" : {
                "0" : {
                  "value" : "{\r\n    \"email\": \"5553-54410291547@gmail.com\",\r\n    \"source\": \"MKTO_OPT_OUT\",\r\n    \"cmpn\": \"marketo xxx-123\",\r\n    \"origTransid\": \"116326\",\r\n    \"reason\": \"AR\",\r\n    \"preferences\": {\"IBM\":\"S\"},\r\n    \"timestamp\": \"2023-01-02T14:56:14Z\"\r\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Auto generated using Swagger Inspector",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                },
                "examples" : {
                  "0" : {
                    "value" : "{\"msg\":\"Successful\"}\n"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "oauth2" : [ "write:suppressEmail", "read:suppressEmail" ]
        } ],
        "servers" : [ {
          "url" : "https://idm-sub.968d96a4.public.multi-containers.ibm.com"
        } ]
      },
      "servers" : [ {
        "url" : "https://idm-sub.968d96a4.public.multi-containers.ibm.com"
      } ]
    }
  },
  "components" : {
    "schemas" : {
      "suppressEmail_preferences" : {
        "type" : "object",
        "properties" : {
          "IBM" : {
            "type" : "string"
          }
        }
      },
      "suppressEmail_body" : {
        "type" : "object",
        "properties" : {
          "reason" : {
            "type" : "string"
          },
          "preferences" : {
            "$ref" : "#/components/schemas/suppressEmail_preferences"
          },
          "origTransid" : {
            "type" : "string"
          },
          "cmpn" : {
            "type" : "string"
          },
          "source" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "timestamp" : {
            "type" : "string"
          }
        }
      },
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "msg" : {
            "type" : "string"
          }
        }
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      },
      "oauth2" : {
        "type" : "oauth2",
        "flows" : {
          "clientCredentials" : {
            "tokenUrl" : "https://eu-de.appid.cloud.ibm.com/oauth/v4/bcaefcc9-2d5c-48cd-b934-29d1e6f75e37/token",
            "scopes" : { }
          }
        }
      }
    }
  }
}